# Last Modified: Wed Oct 29 08:16:32 2014
#include <tunables/global>

/usr/local/sbin/nginx {
  #include <abstractions/base>
  #include <abstractions/tor>

  signal (send) set=("term") peer=unconfined,

  capability dac_override,
  capability kill,
  capability net_bind_service,

  /bin/touch rix,
  /dev/null w,
  /dev/urandom r,
  /etc/group r,
  /etc/nsswitch.conf r,
  /etc/passwd r,
  /etc/ssl/openssl.cnf r,
  /usr/local/conf/nginx.conf r,
  /usr/local/conf/mime.types r,
  /usr/local/logs/nginx.pid rw,
  /usr/local/sbin/nginx mr,
  /usr/local/logs/error.log w,

  ^DEFAULT_URI {
  }

  ^HANDLING_UNTRUSTED_INPUT {
  }
}
